@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap);
html {
  scroll-behavior: smooth;
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  width: 100%;
  position: relative; }
  body .wrapper {
    overflow-x: hidden; }
  body header {
    background-color: #FFB4F3;
    margin: 0;
    height: 60px;
    display: flex; }
    body header .container {
      width: 100%;
      height: 60px;
      display: flex; }
    body header .header_nav {
      display: none; }
    body header .logo {
      height: 60px;
      width: 60px;
      margin-left: 30px; }
      body header .logo img {
        height: 60px;
        width: 60px; }
    body header a {
      text-decoration: none;
      color: #5a5a5a; }
    body header .menu {
      padding: 0;
      margin-right: 20px;
      margin-left: auto;
      margin-top: auto;
      margin-bottom: auto; }
      body header .menu #input {
        display: none; }
    body header .line {
      background-color: #5a5a5a;
      width: 20px;
      height: 3px;
      display: block;
      cursor: pointer;
      margin: 4px;
      margin-left: 0;
      margin-right: 0;
      border-radius: 1.5px; }
    body header #content {
      border-style: solid;
      border-width: 3px;
      border-color: #FFB4F3;
      background-color: #FFB4F3;
      position: absolute;
      display: Block;
      margin: 0;
      z-index: 100;
      width: 100%;
      height: 812px;
      transform: translate(-100%, -1000px) translateX(40px); }
    body header #input:checked ~ #content {
      transform: translate(-100%, -43px) translateX(40px);
      transition-duration: 0.5s; }
    body header #batsu {
      color: #5a5a5a;
      padding: 0;
      font-size: 30px;
      margin-top: 5px;
      margin-left: 85%; }
    body header .nav {
      margin: 0;
      padding: 0;
      list-style-type: none;
      text-align: center; }
      body header .nav li {
        color: #5a5a5a;
        text-decoration: none;
        font-family: "遊ゴシック", "Yu Gothic", "遊ゴシック体", "YuGothic";
        font-size: 26px;
        font-weight: Bold;
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto; }
  body .page_title {
    position: absolute;
    z-index: 1;
    top: 100px;
    left: -5px;
    height: 370px; }
    body .page_title p {
      margin: 0;
      font-family: "Abys";
      font-size: 80px;
      color: #FFB4F3;
      -webkit-text-stroke: 2px #B7A9A9; }
  body .triangle1 {
    width: 0;
    height: 0;
    z-index: -1;
    position: absolute;
    border-style: solid;
    border-width: 150px 250px 0 250px;
    border-color: transparent;
    border-top-color: #FDFF02;
    left: auto;
    right: -250px;
    top: 60px; }
  body .circle1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: #FDFF02;
    left: auto;
    right: -170px;
    top: 400px;
    border-radius: 50%; }
    body .circle1 .center_circle1 {
      width: 160px;
      height: 160px;
      background-color: white;
      border-radius: 50%; }
  body .activity1 {
    width: 600px;
    position: absolute;
    left: -200px;
    top: 300px;
    display: flex; }
    body .activity1 img {
      width: 300px;
      height: 200px; }
    body .activity1 .sentence {
      margin-left: 30px; }
      body .activity1 .sentence p {
        font-family: "Hiragino Kaku Gothic ProN";
        font-size: 10px;
        color: #707070;
        margin: 0;
        margin-top: 8px; }
      body .activity1 .sentence .title {
        font-family: "abys";
        font-size: 16px;
        margin: 0; }
  body .activity2 {
    position: absolute;
    width: 85%;
    height: 500px;
    background-color: #FFB4F3;
    top: 650px;
    left: 20px;
    z-index: 0; }
    body .activity2 .sentence {
      margin-left: 30px;
      margin-top: 50px;
      margin-right: 30px; }
      body .activity2 .sentence p {
        font-family: "Hiragino Kaku Gothic ProN";
        font-size: 10px;
        color: white; }
      body .activity2 .sentence .title {
        font-family: "abys";
        font-size: 30px;
        margin-bottom: 30px; }
      body .activity2 .sentence .detail {
        font-family: "abys";
        font-size: 30px;
        margin-left: 150px;
        margin-top: 30px; }
  body .activity3 {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 1100px;
    right: -80px;
    display: flex;
    z-index: 1; }
  body .activity4 {
    position: absolute;
    top: 1570px;
    left: 40px;
    display: block;
    width: 80%; }
    body .activity4 img {
      width: 100%;
      object-fit: cover; }
    body .activity4 .sentence {
      margin-top: 30px;
      margin-left: auto;
      margin-bottom: auto; }
      body .activity4 .sentence p {
        font-family: "abys";
        font-size: 10px;
        color: #707070;
        margin: 0;
        margin-top: 8px; }
      body .activity4 .sentence .title {
        font-family: "abys";
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 0; }
  body .circle2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #FDFF02;
    left: -100px;
    right: auto;
    top: 1400px;
    border-radius: 50%;
    z-index: -1; }
    body .circle2 .center_circle2 {
      width: 100px;
      height: 100px;
      background-color: white;
      border-radius: 50%; }
  body .triangle2 {
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-width: 0 350px 160px 350px;
    border-color: transparent;
    border-bottom-color: #FDFF02;
    left: auto;
    right: -350px;
    top: 2020px; }
  body footer {
    position: absolute;
    margin: 0;
    background-color: #FFB4F3;
    width: 100%;
    top: 2180px; }
    body footer .cName {
      margin: 0;
      margin-left: 15px;
      padding-top: 15px;
      color: #5a5a5a;
      font-family: "Hiragino Kaku Gothic ProN";
      font-size: 16px; }
    body footer .cInfo {
      padding-bottom: 15px;
      margin-left: 20px; }
      body footer .cInfo p {
        margin: 0;
        padding-top: 5px;
        color: #5a5a5a;
        font-family: "Hiragino Kaku Gothic ProN";
        font-size: 12px; }
    body footer .mail {
      display: none; }

/*# sourceMappingURL=activity_phonedesign.css.map */
