html{
    scroll-behavior: smooth;
}

header{
    margin: 0;
    height : 90px;
    background-color: #FFB4F3;
    display: flex;
    .container{
        width: 100%;
        height: 100%;
        display: flex;
    }
    .logo{
        width:150px;
        height:90px;
        position: relative;
        z-index: 1;
        text-align: center;
        margin: 0;
        margin-left: 30px;
        img{
            margin-left: auto;
            margin-right: auto;
            width:90px;
            height:90px;
            object-fit: contain;
        }
    }
    .logo::before{
        width:150px;
        height:90px;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        transform: skewX(-30deg);
        z-index: -1;
    }
    .header_nav{
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 35px;
        ul.nav{
            list-style: none;
            display: flex; /*横並びにする*/
        }
        ul.nav li{
            text-align: center;
        }
        ul.nav li a{
            position: relative;
            padding: 33px 45px;
            text-decoration: none;
            font-size: 24px;
            color: white;
            z-index: 1;
        }
        ul.nav li a::before{
            content: "";
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            z-index: -1;
            background-color:#fa8ee8;
            transform: skewX(-30deg);
        }
        ul.nav li:nth-child(odd) a::before{
            background-color:#fd55e1; /*互い違いに色を変える*/
        }
        ul.nav li a:hover::before{
            background-color:#ffdef9;
        }
    }
    .menu{
        display:none;
    }
}

body{
    width: 100%;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    
    .page_title{
        position: absolute;
        z-index: 1;
        top: 126px;
        left: -18px;
        height: 370px;
        p{
            margin: 0;
            font-family: "Abys";
            font-size: 320px;
            color: #FFB4F3;
            -webkit-text-stroke: 7px #B7A9A9;
        }
    }
    .triangle1{
        width: 0;
        height: 0;
        z-index: -1;
        position: absolute;
        border-style: solid;
        border-width: 580px 950px 0 950px;
        border-color: transparent;
        border-top-color: #FDFF02;
        left: auto;
        right: -950px;
        top: 90px;
    }
    
    .circle1{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 900px;
        height: 900px;
        background-color: #FDFF02;
        left: auto;
        right: -480px;
        top: 1040px;
        border-radius: 50%;
        .center_circle1{
            width: 480px;
            height: 480px;
            background-color: white;
            border-radius: 50%;
        }
    }
    
    .activity1{
        width: 2000px;
        position: absolute;
        left: -500px;
        top: 770px;
        display: flex;
        img{
            width: 1080px;
            height: 720px;
        }
        .sentence{
            margin-left: 70px;
            p{
                font-family: "Hiragino Kaku Gothic ProN";
                font-size: 20px;
                color: #707070;
            }
            .title{
                font-family: "abys";
                font-size: 70px;
            }
        }
    }
    
    .activity2{
        position: absolute;
        width: 810px;
        height: 1020px;
        background-color: #FFB4F3;
        top: 1490px;
        left: 120px;
        z-index: 0;
        .sentence{
            margin-left: 110px;
            margin-top: 150px;
            p{
                font-family: "Hiragino Kaku Gothic ProN";
                font-size: 20px;
                color: white;
            }
            .title{
                font-family: "abys";
                font-size: 70px;
                margin-bottom: 70px;
            }
            .detail{
                font-family: "abys";
                font-size: 70px;
                margin-left: 300px;
                margin-top: 100px;
            }
        }
    }
    
    .activity3{
        position: absolute;
        width: 700px;
        height: 700px;
        top: 2290px;
        right: 30px;
        display: flex;
        z-index: 1;
    }
    
    .activity4{
        position: absolute;
        top: 3290px;
        left: 40px;
        display: flex;
        width: 1400px;
        height: 520px;
        img{
            width: 550px;
            height: 380px; 
            object-fit: cover;
        }
        .sentence{
            margin-left: 90px;
            p{
                font-family: "abys";
                font-size: 20px;
                color: #707070;
            }
            .title{
                font-family: "abys";
                font-size: 60px;
                margin-bottom: 50px;
                margin-top: 0;
            }
        }
    }
    
    .circle2{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 645px;
        height: 645px;
        background-color: #FDFF02;
        left: -300px;
        right: auto;
        top: 2790px;
        border-radius: 50%;
        z-index: -1;
        .center_circle2{
            width: 330px;
            height: 330px;
            background-color: white;
            border-radius: 50%;
        }
    }
    
    .triangle2{
        width: 0;
        height: 0;
        position: absolute;
        border-style: solid;
        border-width: 0 1200px 750px 1200px;
        border-color: transparent;
        border-bottom-color: #FDFF02;
        left: auto;
        right: -1600px;
        top: 3390px;
    }
   
}

footer{
    position: absolute;
    top: 4090px;
    height: 225px;
    width: 100%;
    margin: 0;
    background-color: #FFB4F3;
    display: flex;
    .info{
        margin-top: 15px;
        margin-left: 135px;

        .cInfo{
            margin-left: 15px;
            p{
                color: rgb(26, 25, 25);
                font-family: "Hiragino Kaku Gothic ProN";
                font-size: 16px;
                margin: 0;
                margin-top: 7px
            }
        }

        .cName{
            color: rgb(26, 25, 25);
            font-family: "Hiragino Kaku Gothic ProN";
            font-size: 27px;
            margin: 0;
            margin-top: 10px
        }
    }
    .mail{
        margin-right: 225px;
        margin-left: auto;
        margin-top: 36px;
        .contact{
            margin: 0;
            color: rgb(26, 25, 25);
            font-family: "Hiragino Kaku Gothic ProN";
            font-size: 27px;
        }
        .buttons{
            display: flex;
            a{
                display: block;
                color: rgb(26, 25, 25);
                font-family: "Hiragino Kaku Gothic ProN";
                font-size: 18px;
                margin: 0;
                margin-top: 7px;
                text-decoration: none;
            }
            .buttons1{
                margin-right: 75px;
                
            }
            .buttons2{
            }
        }
    }
}
