@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap);
header {
  margin: 0;
  height: 90px;
  background-color: #0F026F;
  display: flex; }
  header .logo {
    width: 150px;
    height: 90px;
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0;
    margin-left: 30px; }
    header .logo img {
      margin-left: auto;
      margin-right: auto;
      width: 90px;
      height: 90px;
      object-fit: contain; }
  header .logo::before {
    width: 150px;
    height: 90px;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    transform: skewX(-30deg);
    z-index: -1; }
  header .header_nav {
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 35px; }
    header .header_nav ul.nav {
      list-style: none;
      display: flex;
      /*横並びにする*/ }
    header .header_nav ul.nav li {
      text-align: center; }
    header .header_nav ul.nav li a {
      position: relative;
      padding: 33px 45px;
      text-decoration: none;
      font-size: 24px;
      color: white;
      z-index: 1; }
    header .header_nav ul.nav li a::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      background-color: #082694;
      transform: skewX(-30deg); }
    header .header_nav ul.nav li:nth-child(odd) a::before {
      background-color: #1049bd;
      /*互い違いに色を変える*/ }
    header .header_nav ul.nav li a:hover::before {
      background-color: #8fb0f3; }

html {
  height: 100%; }

body {
  margin: 0;
  height: 100%; }

.cd-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2; }

.section1 {
  width: 100%;
  padding-bottom: 120px;
  background-color: #0F026F; }
  .section1 video {
    margin: 0;
    width: 100%; }

.section2 {
  background-image: url(image/pexels-photo1.jpg);
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex; }
  .section2 .message {
    background: rgba(0, 0, 0, 0);
    width: 900px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 75px; }
    .section2 .message p {
      font-family: 'Noto Serif JP', sans-serif;
      color: white;
      font-size: 32px;
      margin: 0;
      margin-left: 100px; }
    .section2 .message .title {
      font-family: 'Noto Serif JP', sans-serif;
      color: white;
      font-size: 52px;
      margin: 0;
      margin-left: 75px;
      margin-bottom: 24px; }

.section3 {
  background-image: url(image/pexels-photo2.jpg);
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex; }
  .section3 .message {
    background: rgba(0, 0, 0, 0);
    width: 750px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 75px;
    margin-left: auto;
    z-index: 1; }
    .section3 .message p {
      font-family: 'Noto Serif JP', sans-serif;
      color: white;
      font-size: 32px;
      margin: 0;
      margin-left: 105px; }
    .section3 .message .title {
      font-family: 'Noto Serif JP', sans-serif;
      color: white;
      font-size: 60px;
      margin: 0;
      margin-left: 90px;
      margin-bottom: 20px; }

.section3::before {
  /* 透過した黒を上から重ねるイメージ */
  background: rgba(0, 0, 0, 0.3);
  /* 自由に位置指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' '; }

.section4 {
  background-image: url(image/pexels-photo4.jpg);
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex; }
  .section4 p {
    font-family: 'Noto Serif JP', sans-serif;
    color: white;
    font-size: 84px;
    margin: 0;
    margin-top: 36px;
    margin-left: 60px; }
  .section4 .introduction {
    background: rgba(0, 0, 0, 0.4);
    width: 675px;
    height: 450px;
    padding-top: 36px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 100px;
    margin-left: auto;
    text-align: center; }
    .section4 .introduction p {
      font-family: 'Noto Serif JP', sans-serif;
      color: white;
      margin: 0; }
    .section4 .introduction .position {
      font-size: 15px; }
    .section4 .introduction .name {
      font-size: 21px; }
    .section4 .introduction .memberline1 {
      display: flex;
      width: 675px;
      height: 225px; }
    .section4 .introduction .memberline2 {
      display: flex;
      width: 675px;
      height: 225px; }
    .section4 .introduction .member1 {
      width: 142px;
      height: 187px;
      margin-left: 75px;
      margin-right: auto; }
      .section4 .introduction .member1 img {
        width: 142px;
        height: 142px;
        object-fit: cover;
        border-radius: 50%; }
    .section4 .introduction .member2 {
      width: 142px;
      height: 187px;
      margin-left: auto;
      margin-right: auto; }
      .section4 .introduction .member2 img {
        width: 142px;
        height: 142px;
        object-fit: cover;
        border-radius: 50%; }
    .section4 .introduction .member3 {
      width: 142px;
      height: 187px;
      margin-left: auto;
      margin-right: 75px; }
      .section4 .introduction .member3 img {
        width: 142px;
        height: 142px;
        object-fit: cover;
        border-radius: 50%; }
    .section4 .introduction .member4 {
      width: 142px;
      height: 187px;
      margin-left: 75px;
      margin-right: auto; }
      .section4 .introduction .member4 img {
        width: 142px;
        height: 142px;
        object-fit: cover;
        border-radius: 50%; }
    .section4 .introduction .member5 {
      width: 142px;
      height: 187px;
      margin-left: auto;
      margin-right: auto; }
      .section4 .introduction .member5 img {
        width: 142px;
        height: 142px;
        object-fit: cover;
        border-radius: 50%; }
    .section4 .introduction .member6 {
      width: 142px;
      height: 187px;
      margin-left: auto;
      margin-right: 75px; }
      .section4 .introduction .member6 img {
        width: 142px;
        height: 142px;
        object-fit: cover;
        border-radius: 50%; }

.section5 {
  background-image: url(image/pexels-photo6.jpg);
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: inline-block; }
  .section5 p {
    font-family: 'Noto Serif JP', sans-serif;
    color: white;
    margin: 0; }
  .section5 .title {
    font-size: 75px;
    margin-left: 90px;
    margin-right: auto;
    margin-bottom: 75px;
    margin-top: 36px; }
  .section5 .partner {
    width: 100%;
    display: flex; }
  .section5 .partner1 {
    text-align: center;
    margin-right: 120px;
    margin-left: auto; }
    .section5 .partner1 img {
      height: 205px;
      width: 205px;
      object-fit: cover; }
  .section5 .partner2 {
    text-align: center;
    margin-right: 120px; }
    .section5 .partner2 img {
      height: 205px;
      width: 205px;
      object-fit: cover; }
  .section5 .partner3 {
    text-align: center;
    margin-right: 120px; }
    .section5 .partner3 img {
      height: 205px;
      width: 205px;
      object-fit: cover; }
  .section5 .partner4 {
    text-align: center;
    margin-right: auto; }
    .section5 .partner4 img {
      height: 205px;
      width: 205px;
      object-fit: cover; }

footer {
  height: 225px;
  margin: 0;
  background-color: #0F026F;
  display: flex; }
  footer .info {
    margin-top: 15px;
    margin-left: 135px; }
    footer .info .cInfo {
      margin-left: 15px; }
      footer .info .cInfo p {
        color: white;
        font-family: "Hiragino Kaku Gothic ProN";
        font-size: 16px;
        margin: 0;
        margin-top: 7px; }
    footer .info .cName {
      color: white;
      font-family: "Hiragino Kaku Gothic ProN";
      font-size: 27px;
      margin: 0;
      margin-top: 10px; }
  footer .mail {
    margin-right: 225px;
    margin-left: auto;
    margin-top: 36px; }
    footer .mail .contact {
      margin: 0;
      color: white;
      font-family: "Hiragino Kaku Gothic ProN";
      font-size: 27px; }
    footer .mail .buttons {
      display: flex; }
      footer .mail .buttons a {
        display: block;
        color: white;
        font-family: "Hiragino Kaku Gothic ProN";
        font-size: 18px;
        margin: 0;
        margin-top: 7px;
        text-decoration: none; }
      footer .mail .buttons .buttons1 {
        margin-right: 75px; }

/*# sourceMappingURL=pc-design.css.map */
