@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap);

header{
    margin: 0;
    height : 120px;
    background-color: #0F026F;
    display: flex;
    .logo{
        width:200px;
        height:120px;
        position: relative;
        z-index: 1;
        text-align: center;
        margin: 0;
        margin-left: 40px;
        img{
            margin-left: auto;
            margin-right: auto;
            width:120px;
            height:120px;
            object-fit: contain;
        }
    }
    .logo::before{
        width:200px;
        height:120px;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        transform: skewX(-30deg);
        z-index: -1;
    }
    .header_nav{
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 50px;
        ul.nav{
            list-style: none;
            display: flex; /*横並びにする*/
        }
        ul.nav li{
            text-align: center;
        }
        ul.nav li a{
            position: relative;
            padding: 45px 60px;
            text-decoration: none;
            font-size: 30px;
            color: white;
            z-index: 1;
        }
        ul.nav li a::before{
            content: "";
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            z-index: -1;
            background-color:#082694;
            transform: skewX(-30deg);
        }
        ul.nav li:nth-child(odd) a::before{
            background-color:#1049bd; /*互い違いに色を変える*/
        }
        ul.nav li a:hover::before{
            background-color:#8fb0f3; /*ホバーでオレンジ色にする*/
        }
    }
}

html{
    height:100%;
}

body{
    margin: 0;
    height: 100%;
}

.cd-fixed-bg {
    position: relative;
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2;
}

.section1{
    width: 100%;
    padding-bottom: 200px;
    background-color: #0F026F;
    video{
        margin: 0;
        width: 100%
    }
}

.section2{
    background-image: url(image/pexels-photo1.jpg);
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    
    .message{
        background: rgba(0, 0, 0, 0);
        width: 1200px;
        height: 600px;
        padding-top: 94px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 103px;
        //border-radius: 5%;
        p{
            font-family: 'Noto Serif JP', sans-serif;
            color: white;
            font-size: 44px;
            margin: 0;
            margin-left: 134px;
        }
        .title{
            font-family: 'Noto Serif JP', sans-serif;
            color: white;
            font-size: 70px;
            margin: 0;
            margin-left: 100px;
            margin-bottom: 30px;
        }
    }
}


.section3{
    background-image: url(image/pexels-photo2.jpg);
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    .message{
        background: rgba(0, 0, 0, 0);
        width: 1000px;
        height: 550px;
        padding-top: 94px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 100px;
        margin-left: auto;
        z-index: 1;
        //border-radius: 5%;
        p{
            font-family: 'Noto Serif JP', sans-serif;
            color: white;
            font-size: 44px;
            margin: 0;
            margin-left: 141px;
        }
        .title{
            font-family: 'Noto Serif JP', sans-serif;
            color: white;
            font-size: 80px;
            margin: 0;
            margin-left: 120px;
            margin-bottom: 25px;
        }
    }
}

.section3::before{
    /* 透過した黒を上から重ねるイメージ */
    background: rgba(0,0,0,0.3);
    /* 自由に位置指定 */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
  }

.section4{
    background-image: url(image/pexels-photo4.jpg);
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    p{
        font-family: 'Noto Serif JP', sans-serif;
        color:white;
        //color: #333333;
        font-size: 110px;
        margin: 0;
        margin-top: 50px;
        margin-left: 50px;
    }
    
    .introduction{
        background: rgba(0, 0, 0, 0.4);
        width: 900px;
        height: 600px;
        padding-top: 50px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 132px;
        margin-left: auto;
        text-align: center;
        p{
            font-family: 'Noto Serif JP', sans-serif;
            color:white;
            //color: #333333;
            font-size: 24px;
            margin:0;
        }
        .position{
            font-size: 20px;
        }
        .name{
            font-size: 28px;
        }

        .memberline1{
            display: flex;
            width: 900px;
            height:300px;
        }
        .memberline2{
            display: flex;
            width: 900px;
            height:300px;
        }
        .member1{
            width: 190px;
            height: 250px;
            margin-left: 100px;
            margin-right:auto;
            img{
                width:190px;
                height:190px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        .member2{
            width: 190px;
            height: 190px;
            margin-left: auto;
            margin-right:auto;
            img{
                width:190px;
                height:190px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        .member3{
            width: 190px;
            height: 190px;
            margin-left:auto;
            margin-right: 100px;
            img{
                width:190px;
                height:190px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        .member4{
            width: 190px;
            height: 190px;
            margin-left: 100px;
            margin-right:auto;
            img{
                width:190px;
                height:190px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        .member5{
            width: 190px;
            height: 190px;
            margin-left: auto;
            margin-right:auto;
            img{
                width:190px;
                height:190px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        .member6{
            width: 190px;
            height: 190px;
            margin-left:auto;
            margin-right: 100px;
            img{
                width:190px;
                height:190px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }
}

.section5{
    background-image: url(image/pexels-photo6.jpg);
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: inline-block;
    p{
        font-family: 'Noto Serif JP', sans-serif;
        color:white;
        margin: 0;
    }
    .title{
        font-size: 100px;
        margin-left: 120px;
        margin-right: auto;
        margin-bottom: 100px;
        margin-top: 50px;
    }
    .partner{
        width: 100%;
        display: flex;
    }
    .partner1{
        text-align: center;
        margin-right: 150px;
        margin-left: auto;
    }
    .partner2{
        text-align: center;
        margin-right: 150px;
    }
    .partner3{
        text-align: center;
        margin-right: 150px;
    }
    .partner4{
        text-align: center;
        margin-right: auto;
    }
}

footer{
    height: 300px;
    margin: 0;
    background-color: #0F026F;
    display: flex;
    .info{
        margin-top: 20px;
        margin-left: 180px;

        .cInfo{
            margin-left: 20px;
            p{
                color: white;
                font-family: "Hiragino Kaku Gothic ProN";
                font-size: 20px;
                margin: 0;
                margin-top: 10px
            }
        }

        .cName{
            color: white;
            font-family: "Hiragino Kaku Gothic ProN";
            font-size: 36px;
            margin: 0;
            margin-top: 10px
        }
    }
    .mail{
        margin-right: 300px;
        margin-left: auto;
        margin-top: 50px;
        .contact{
            margin: 0;
            color: white;
            font-family: "Hiragino Kaku Gothic ProN";
            font-size: 36px;
        }
        .buttons{
            display: flex;
            a{
                display: block;
                color: white;
                font-family: "Hiragino Kaku Gothic ProN";
                font-size: 24px;
                margin: 0;
                margin-top: 10px;
                text-decoration: none;
            }
            .buttons1{
                margin-right: 100px;
                
            }
            .buttons2{
            }
        }
    }
}