body {
  background-image: url("image/flowers.png"); }
  body .page_title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    font-size: 200px; }
  body .work_title {
    font-family: "Hiragino Kaku Gothic ProN";
    font-size: 100px;
    margin-bottom: 0; }
  body .content1 {
    display: flex;
    height: 800px; }
    body .content1 .work {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: auto;
      margin-right: 100px;
      width: 650px;
      height: 450px; }
      body .content1 .work p.work_title {
        font-family: "Hiragino Kaku Gothic ProN";
        font-size: 100px;
        margin-bottom: 0; }
      body .content1 .work .line {
        width: 650px;
        height: 20px;
        position: relative;
        border: 0;
        border-bottom: 40px;
        border-style: solid;
        border-image: linear-gradient(to right, rgba(226, 255, 0, 0.7) 0%, rgba(255, 0, 0, 0.7) 100%);
        border-image-slice: 1;
        top: -70px;
        left: 30px; }
      body .content1 .work p.work_day {
        font-family: "Hiragino Kaku Gothic ProN";
        font-size: 50px;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 200px;
        position: relative;
        top: -70px; }
    body .content1 img {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 100px;
      margin-right: auto; }
  body .content2 {
    display: flex;
    height: 800px; }
    body .content2 .work {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 100px;
      margin-right: auto;
      width: 650px;
      height: 450px; }
      body .content2 .work p.work_title {
        font-family: "Hiragino Kaku Gothic ProN";
        font-size: 100px;
        margin-bottom: 0; }
      body .content2 .work .line {
        width: 650px;
        height: 20px;
        position: relative;
        border: 0;
        border-bottom: 40px;
        border-style: solid;
        border-image: linear-gradient(to right, rgba(226, 255, 0, 0.7) 0%, rgba(255, 0, 0, 0.7) 100%);
        border-image-slice: 1;
        top: -70px;
        left: 30px; }
      body .content2 .work p.work_day {
        font-family: "Hiragino Kaku Gothic ProN";
        font-size: 50px;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 200px;
        position: relative;
        top: -70px; }
    body .content2 img {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: auto;
      margin-right: 100px; }
  body .content3 {
    display: flex;
    height: 800px; }
    body .content3 .work {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: auto;
      margin-right: 100px;
      width: 650px;
      height: 450px; }
      body .content3 .work p.work_title {
        font-family: "Hiragino Kaku Gothic ProN";
        font-size: 100px;
        margin-bottom: 0; }
      body .content3 .work .line {
        width: 650px;
        height: 20px;
        position: relative;
        border: 0;
        border-bottom: 40px;
        border-style: solid;
        border-image: linear-gradient(to right, rgba(226, 255, 0, 0.7) 0%, rgba(255, 0, 0, 0.7) 100%);
        border-image-slice: 1;
        top: -70px;
        left: 30px; }
      body .content3 .work p.work_day {
        font-family: "Hiragino Kaku Gothic ProN";
        font-size: 50px;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 200px;
        position: relative;
        top: -70px; }
    body .content3 img {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 100px;
      margin-right: auto; }
  body .content4 {
    display: flex;
    height: 800px; }
    body .content4 .work {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 100px;
      margin-right: auto;
      width: 650px;
      height: 450px; }
      body .content4 .work p.work_title {
        font-family: "Hiragino Kaku Gothic ProN";
        font-size: 100px;
        margin-bottom: 0; }
      body .content4 .work .line {
        width: 650px;
        height: 20px;
        position: relative;
        border: 0;
        border-bottom: 40px;
        border-style: solid;
        border-image: linear-gradient(to right, rgba(226, 255, 0, 0.7) 0%, rgba(255, 0, 0, 0.7) 100%);
        border-image-slice: 1;
        top: -70px;
        left: 30px; }
      body .content4 .work p.work_day {
        font-family: "Hiragino Kaku Gothic ProN";
        font-size: 50px;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 200px;
        position: relative;
        top: -70px; }
    body .content4 img {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: auto;
      margin-right: 100px; }

footer {
  height: 300px;
  width: 100%;
  margin: 0;
  background-color: white;
  display: flex; }
  footer .info {
    margin-top: 20px;
    margin-left: 180px; }
    footer .info .cInfo {
      margin-left: 20px; }
      footer .info .cInfo p {
        color: #1c1b1b;
        font-family: "Hiragino Kaku Gothic ProN";
        font-size: 20px;
        margin: 0;
        margin-top: 10px; }
    footer .info .cName {
      color: #1c1b1b;
      font-family: "Hiragino Kaku Gothic ProN";
      font-size: 36px;
      margin: 0;
      margin-top: 10px; }
  footer .mail {
    margin-right: 300px;
    margin-left: auto;
    margin-top: 50px; }
    footer .mail .contact {
      margin: 0;
      color: #1c1b1b;
      font-family: "Hiragino Kaku Gothic ProN";
      font-size: 36px; }
    footer .mail .buttons {
      display: flex; }
      footer .mail .buttons a {
        display: block;
        color: #1c1b1b;
        font-family: "Hiragino Kaku Gothic ProN";
        font-size: 24px;
        margin: 0;
        margin-top: 10px;
        text-decoration: none; }
      footer .mail .buttons .buttons1 {
        margin-right: 100px; }

/*# sourceMappingURL=portfolio_pcdesign.css.map */
